@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.background-color {
  height: 65%;
  background: url("../assets/fundo-music-1.jpg") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.card-music {
  height: 150px;
  border: none;
  box-shadow: none;
}

.card-play {
  background: #323437;
  padding: 3px;
}

.title-music {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.sub-title-music {
  color: #697385;
}

.card-title-music {
  text-align: start;
  display: grid;
  padding-left: 5px;
}
